/* 
  Define classes utilitárias responsivas para a propriedade display. 
  Controla o tipo de caixa de renderização e o contexto de layout do elemento 
  (block, inline, inline-block, flex, inline-flex, grid, inline-grid, none e contents), 
  agrupados em blocos @media por breakpoint para adequação e alteração do comportamento visual por breakpoint.
*/

.mui-r-display-block {
  display: block;
}
.mui-r-display-inline {
  display: inline;
}
.mui-r-display-inline-block {
  display: inline-block;
}
.mui-r-display-flex {
  display: flex;
}
.mui-r-display-inline-flex {
  display: inline-flex;
}
.mui-r-display-grid {
  display: grid;
}
.mui-r-display-inline-grid {
  display: inline-grid;
}
.mui-r-display-none {
  display: none;
}
.mui-r-display-contents {
  display: contents;
}
@media (--xs) {
  .xs\:mui-r-display-block {
    display: block;
  }
  .xs\:mui-r-display-inline {
    display: inline;
  }
  .xs\:mui-r-display-inline-block {
    display: inline-block;
  }
  .xs\:mui-r-display-flex {
    display: flex;
  }
  .xs\:mui-r-display-inline-flex {
    display: inline-flex;
  }
  .xs\:mui-r-display-grid {
    display: grid;
  }
  .xs\:mui-r-display-inline-grid {
    display: inline-grid;
  }
  .xs\:mui-r-display-none {
    display: none;
  }
  .xs\:mui-r-display-contents {
    display: contents;
  }
}
@media (--sm) {
  .sm\:mui-r-display-block {
    display: block;
  }
  .sm\:mui-r-display-inline {
    display: inline;
  }
  .sm\:mui-r-display-inline-block {
    display: inline-block;
  }
  .sm\:mui-r-display-flex {
    display: flex;
  }
  .sm\:mui-r-display-inline-flex {
    display: inline-flex;
  }
  .sm\:mui-r-display-grid {
    display: grid;
  }
  .sm\:mui-r-display-inline-grid {
    display: inline-grid;
  }
  .sm\:mui-r-display-none {
    display: none;
  }
  .sm\:mui-r-display-contents {
    display: contents;
  }
}
@media (--md) {
  .md\:mui-r-display-block {
    display: block;
  }
  .md\:mui-r-display-inline {
    display: inline;
  }
  .md\:mui-r-display-inline-block {
    display: inline-block;
  }
  .md\:mui-r-display-flex {
    display: flex;
  }
  .md\:mui-r-display-inline-flex {
    display: inline-flex;
  }
  .md\:mui-r-display-grid {
    display: grid;
  }
  .md\:mui-r-display-inline-grid {
    display: inline-grid;
  }
  .md\:mui-r-display-none {
    display: none;
  }
  .md\:mui-r-display-contents {
    display: contents;
  }
}
@media (--lg) {
  .lg\:mui-r-display-block {
    display: block;
  }
  .lg\:mui-r-display-inline {
    display: inline;
  }
  .lg\:mui-r-display-inline-block {
    display: inline-block;
  }
  .lg\:mui-r-display-flex {
    display: flex;
  }
  .lg\:mui-r-display-inline-flex {
    display: inline-flex;
  }
  .lg\:mui-r-display-grid {
    display: grid;
  }
  .lg\:mui-r-display-inline-grid {
    display: inline-grid;
  }
  .lg\:mui-r-display-none {
    display: none;
  }
  .lg\:mui-r-display-contents {
    display: contents;
  }
}
@media (--xl) {
  .xl\:mui-r-display-block {
    display: block;
  }
  .xl\:mui-r-display-inline {
    display: inline;
  }
  .xl\:mui-r-display-inline-block {
    display: inline-block;
  }
  .xl\:mui-r-display-flex {
    display: flex;
  }
  .xl\:mui-r-display-inline-flex {
    display: inline-flex;
  }
  .xl\:mui-r-display-grid {
    display: grid;
  }
  .xl\:mui-r-display-inline-grid {
    display: inline-grid;
  }
  .xl\:mui-r-display-none {
    display: none;
  }
  .xl\:mui-r-display-contents {
    display: contents;
  }
}
