/* 
  Define classes utilitárias responsivas para a propriedade flex-basis. 
  Controla o tamanho inicial padrão de um item em um contêiner Flexbox 
  antes da distribuição de espaço do layout, utilizando a variável 
  --flex-basis integrada a consultas de mídia (@media) para adequação 
  responsiva por breakpoint.
*/

.mui-r-fb {
  flex-basis: var(--flex-basis);
}
@media (--xs) {
  .xs\:mui-r-fb {
    flex-basis: var(--flex-basis-xs);
  }
}
@media (--sm) {
  .sm\:mui-r-fb {
    flex-basis: var(--flex-basis-sm);
  }
}
@media (--md) {
  .md\:mui-r-fb {
    flex-basis: var(--flex-basis-md);
  }
}
@media (--lg) {
  .lg\:mui-r-fb {
    flex-basis: var(--flex-basis-lg);
  }
}
@media (--xl) {
  .xl\:mui-r-fb {
    flex-basis: var(--flex-basis-xl);
  }
}
