/* 
  Define classes utilitárias responsivas para a propriedade min-width. 
  Controla o limite mínimo de largura de um elemento na página, 
  utilizando a variável --min-width integrada a consultas 
  de mídia (@media) para adequação e ajuste responsivo por breakpoint.
*/

.mui-r-min-w {
  min-width: var(--min-width);
}
@media (--xs) {
  .xs\:mui-r-min-w {
    min-width: var(--min-width-xs);
  }
}
@media (--sm) {
  .sm\:mui-r-min-w {
    min-width: var(--min-width-sm);
  }
}
@media (--md) {
  .md\:mui-r-min-w {
    min-width: var(--min-width-md);
  }
}
@media (--lg) {
  .lg\:mui-r-min-w {
    min-width: var(--min-width-lg);
  }
}
@media (--xl) {
  .xl\:mui-r-min-w {
    min-width: var(--min-width-xl);
  }
}
