/* 
  Define classes utilitárias responsivas para a propriedade min-height. 
  Controla o limite mínimo da dimensão de altura de um elemento na página, 
  utilizando a variável --min-height integrada a consultas 
  de mídia (@media) para adequação e ajuste responsivo por breakpoint.
*/

.mui-r-min-h {
  min-height: var(--min-height);
}
@media (--xs) {
  .xs\:mui-r-min-h {
    min-height: var(--min-height-xs);
  }
}
@media (--sm) {
  .sm\:mui-r-min-h {
    min-height: var(--min-height-sm);
  }
}
@media (--md) {
  .md\:mui-r-min-h {
    min-height: var(--min-height-md);
  }
}
@media (--lg) {
  .lg\:mui-r-min-h {
    min-height: var(--min-height-lg);
  }
}
@media (--xl) {
  .xl\:mui-r-min-h {
    min-height: var(--min-height-xl);
  }
}
