/* 
  Define classes utilitárias responsivas para a propriedade table-layout. 
  Controla o algoritmo de layout e cálculo de largura das colunas e células de uma tabela 
  (auto e fixed), agrupados em blocos @media por breakpoint para adequação responsiva do layout.
*/

.rt-r-tl-auto {
  table-layout: auto;
}
.rt-r-tl-fixed {
  table-layout: fixed;
}
@media (--xs) {
  .xs\:rt-r-tl-auto {
    table-layout: auto;
  }
  .xs\:rt-r-tl-fixed {
    table-layout: fixed;
  }
}
@media (--sm) {
  .sm\:rt-r-tl-auto {
    table-layout: auto;
  }
  .sm\:rt-r-tl-fixed {
    table-layout: fixed;
  }
}
@media (--md) {
  .md\:rt-r-tl-auto {
    table-layout: auto;
  }
  .md\:rt-r-tl-fixed {
    table-layout: fixed;
  }
}
@media (--lg) {
  .lg\:rt-r-tl-auto {
    table-layout: auto;
  }
  .lg\:rt-r-tl-fixed {
    table-layout: fixed;
  }
}
@media (--xl) {
  .xl\:rt-r-tl-auto {
    table-layout: auto;
  }
  .xl\:rt-r-tl-fixed {
    table-layout: fixed;
  }
}
