/* 
  Define classes utilitárias responsivas para a propriedade width. 
  Controla a dimensão de largura de um elemento na página, 
  utilizando a variável --width integrada a consultas 
  de mídia (@media) para adequação e ajuste responsivo por breakpoint.
*/

.mui-r-w {
  width: var(--width);
}
@media (--xs) {
  .xs\:mui-r-w {
    width: var(--width-xs);
  }
}
@media (--sm) {
  .sm\:mui-r-w {
    width: var(--width-sm);
  }
}
@media (--md) {
  .md\:mui-r-w {
    width: var(--width-md);
  }
}
@media (--lg) {
  .lg\:mui-r-w {
    width: var(--width-lg);
  }
}
@media (--xl) {
  .xl\:mui-r-w {
    width: var(--width-xl);
  }
}
