/* 
  Define variáveis customizadas (CSS Custom Properties) 
  para controlar o tipo de cursor do mouse em diferentes 
  elementos de interface dentro da classe .mellow-ui.
*/

.mellow-ui {
  --cursor-button: default; /* Botões */
  --cursor-checkbox: default; /* Checkboxes */
  --cursor-disabled: not-allowed; /* Elementos desativados */
  --cursor-link: pointer; /* Links */
  --cursor-menu-item: default; /* Itens de menu */
  --cursor-radio: default; /* Radio buttons */
  --cursor-slider-thumb: default; /* Slider (estado normal) */
  --cursor-slider-thumb-active: default; /* Slider (em clique/arraste) */
  --cursor-switch: default; /* Switches (liga/desliga) */
}
